<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from themeperch.net/html/politixy/contact-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Aug 2024 09:08:45 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#253b2f" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Politixy description contents" />
    <title>Politixy</title>
    <link rel="shortcut icon"
          type="images/png"
          href="~/Content/assets/images/fav-icon/favicon.ico" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
          rel="stylesheet" />
    <style>
        a:hover {
            color: lightgreen;
        }
    </style>
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css" />
    <link rel="stylesheet" href="~/Content/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/assets/css/leaflet.css" />
    <link rel="stylesheet" href="~/Content/assets/css/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css" />
    <body>
        <div class="page landing-page">
            <!--Header Section ======================-->
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light" style="background-color: white; border: 1px solid #ccc; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
                <div class="container">
                    <a href="#" class="navbar-brand">
                        <img src="~/Content/assets/images/LogoWhite-removebg-preview (1).png" alt="Logo" width="124" height="115" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav" style="display:flex;">
                        <ul class="navbar-nav">

                            <li class="nav-item" style="padding:10px">
                                @Html.ActionLink("تسجيل الدخول", "Login", "Account", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item" style="padding:10px">
                                @Html.ActionLink("آخر الأخبار", "News", "Home", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item" style="padding:10px">
                                @Html.ActionLink("المناظرات", "Debates", "Home", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item" style="padding:10px">
                                @Html.ActionLink("تواصل معنا", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                            </li>



                            <li class="nav-item dropdown" style="padding:10px">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    من نحن

                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:white">
                                    @Html.ActionLink("عن ", "Action", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("سياسة الخصوصية", "AnotherAction", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("الأسئلة المتكررة", "AnotherAction", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })

                                </div>
                            </li>

                            <li class="nav-item dropdown" style="padding:10px">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    الانتخابات

                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:white">
                                    @Html.ActionLink("طلب ترشح قائمة محلية", "Action", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("طلب ترشح قائمة حزبية", "AnotherAction", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("طلب تقديم مناظرة", "AnotherAction", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("طلب تقديم إعلان", "AnotherAction", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("نتائج الانتخابات", "AnotherAction", "ControllerName", new { area = "" }, new { @class = "dropdown-item" })

                                </div>
                            </li>
                            <li class="nav-item" style="padding:10px">
                                @Html.ActionLink("الصفحة الرئيسية", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container body-content">
                @RenderBody()
            </div>
            <hr />


            <footer class="section-footer footer-1 bg-black" data-bs-theme="dark">
                <div class="container">
                    <div class="footer-wrapper pt-60 pb-5 pt-lg-120 pb-lg-100">
                        <div class="row g-40 justify-content-between">
                            <div class="col-lg-5 col-xl-4">
                                <div class="logo-footer mb-20 mb-xl-30">
                                    <a class="navbar-brand py-0" href="index.html">
                                        <span class="logo">
                                            <img src="~/Content/assets/images/LogoBlack.png"
                                                 data-src="/Content/assets/images/LogoBlack.png"
                                                 class="img-fluid"
                                                 alt="logo-white" style="width: 200px;" />
                                        </span>
                                    </a>
                                </div>
                                <!-- logo-footer -->

                                <p class="mb-30 body-color-style-2">
                                    نظام الاقتراع الوطني, معًا لمستقبل أفضل
                                </p>

                                <div class="d-flex gap-20 social-icons text-white">
                                    <a href="#" class="text-decoration-none">
                                        <span class="facebook-icon">
                                            <svg width="9" height="17">
                                                <use xlink:href="#facebook-icon"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="#" class="text-decoration-none">
                                        <span class="twitter-icon">
                                            <svg width="19" height="15">
                                                <use xlink:href="#twitter-icon"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="#" class="text-decoration-none">
                                        <span class="linkedin-icon">
                                            <svg width="17" height="15">
                                                <use xlink:href="#linkedin-icon"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                                <!-- social-icons -->
                            </div>
                            <!-- col-4 -->

                            <div class="col-lg-5 col-xl-4">
                                <div class="d-flex flex-column gap-20 gap-lg-30">
                                    <h5 class="mb-0" style="color:white;">روابط مهمة</h5>
                                    <ul class="list-unstyled mb-0 d-flex flex-column gap-10">
                                        <li class="d-flex gap-10 align-items-center">
                                            <span class="chevron-right-icon">
                                                <svg width="9" height="14">
                                                    <use xlink:href="#chevron-right-icon"></use>
                                                </svg>
                                            </span>
                                            <a href="about-us-1.html"
                                               class="text-decoration-none link-hover-animation-1 fw-semibold">
                                                طلب ترشح قائمة محلية
                                            </a>
                                        </li>
                                        <li class="d-flex gap-10 align-items-center">
                                            <span class="chevron-right-icon">
                                                <svg width="9" height="14">
                                                    <use xlink:href="#chevron-right-icon"></use>
                                                </svg>
                                            </span>
                                            <a href="campaign-1.html"
                                               class="text-decoration-none link-hover-animation-1 fw-semibold">طلب ترشح قائمة حزبية</a>
                                        </li>
                                        <li class="d-flex gap-10 align-items-center">
                                            <span class="chevron-right-icon">
                                                <svg width="9" height="14">
                                                    <use xlink:href="#chevron-right-icon"></use>
                                                </svg>
                                            </span>
                                            <a href="volunteer-1.html"
                                               class="text-decoration-none link-hover-animation-1 fw-semibold">مواعيد مهمة</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- col-4 -->

                            <div class="col-lg-5 col-xl-4">
                                <div class="d-flex flex-column gap-20 gap-lg-30">
                                    <h5 class="mb-0" style="color:white;">تواصل معنا</h5>

                                    <ul class="list-unstyled mb-0 d-flex flex-column gap-3">
                                        <li class="d-flex gap-20 align-items-center">
                                            <span class="mail-icon text-white">
                                                <svg width="22" height="18">
                                                    <use xlink:href="#mail-icon"></use>
                                                </svg>
                                            </span>
                                            <p class="mb-0 fw-semibold">
                                                <a href="mailto:Contact@NVS.com"
                                                   class="text-decoration-none link-hover-animation-1">Contact@NVS.com</a>
                                            </p>
                                        </li>

                                        <li class="d-flex gap-20 align-items-center">
                                            <span class="phone-icon text-white">
                                                <svg width="24" height="24">
                                                    <use xlink:href="#phone-icon"></use>
                                                </svg>
                                            </span>
                                            <p class="mb-0 fw-semibold">
                                                <a href="tel:(+962)234556789"
                                                   class="text-decoration-none link-hover-animation-1">(+962)234556789</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- d-flex -->
                            </div>
                            <!-- col-4 -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- footer-wrapper -->
                </div>
                <!-- container -->

                <div class="footer-separator"></div>

                <div class="container">
                    <div class="copyright py-30 py-lg-40 d-flex flex-column flex-md-row gap-3 justify-content-between">
                        <p class="mb-0 body-color-style-1">
                            &copy; 2024, نظام الاقتراع الوطني
                        </p>
                        <div class="d-flex gap-4">
                            <a href="#"
                               class="text-decoration-none link-hover-animation-1 body-color-style-1">سياسة الخصوصية</a>
                            <a href="#"
                               class="text-decoration-none link-hover-animation-1 body-color-style-1">الأسئلة المتكررة</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- SVG ======================-->
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                <symbol id="calender-icon" viewBox="0 0 12 12">
                    <path d="M10.5 5H1.5M8 1V3M4 1V3M3.9 11H8.1C8.94008 11 9.36012 11 9.68099 10.8365C9.96323 10.6927 10.1927 10.4632 10.3365 10.181C10.5 9.86012 10.5 9.44008 10.5 8.6V4.4C10.5 3.55992 10.5 3.13988 10.3365 2.81901C10.1927 2.53677 9.96323 2.3073 9.68099 2.16349C9.36012 2 8.94008 2 8.1 2H3.9C3.05992 2 2.63988 2 2.31901 2.16349C2.03677 2.3073 1.8073 2.53677 1.66349 2.81901C1.5 3.13988 1.5 3.55992 1.5 4.4V8.6C1.5 9.44008 1.5 9.86012 1.66349 10.181C1.8073 10.4632 2.03677 10.6927 2.31901 10.8365C2.63988 11 3.05992 11 3.9 11Z"
                          stroke-width="0.8"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </symbol>

                <symbol id="chevron-down-icon" viewBox="0 0 12 8" fill="none">
                    <path d="M1 1.5L6 6.5L11 1.5"
                          stroke-width="1.8"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </symbol>

                <symbol id="chevron-right-icon" viewBox="0 0 9 14" fill="none">
                    <path d="M1 1L7 7L1 13" stroke-width="1.5" />
                </symbol>

                <symbol id="arrow-icon" viewBox="0 0 16 16">
                    <path d="M14 7.99984L10.6667 4.6665M14 7.99984L10.6667 11.3332M14 7.99984H2"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </symbol>

                <symbol id="video-icon" viewBox="0 0 21 26">
                    <path d="M0.500998 12.9718C0.500998 9.35922 0.500998 5.74709 0.500998 2.13545C0.500998 1.53824 0.578769 0.996786 1.15397 0.676903C1.72917 0.35702 2.23247 0.572721 2.73578 0.897006C8.36356 4.51647 13.9928 8.13594 19.6235 11.7554C20.8194 12.5243 20.8165 13.4898 19.6162 14.2602C14.0041 17.8699 8.39143 21.4786 2.77833 25.0863C2.26182 25.4179 1.75118 25.6732 1.14663 25.3299C0.572897 25.0056 0.49953 24.4641 0.500998 23.8625C0.506867 20.2333 0.506867 16.603 0.500998 12.9718Z" />
                </symbol>

                <symbol id="location-icon-sm" viewBox="0 0 11 12">
                    <g clip-path="url(#clip0_1_217)">
                        <path d="M4.7037 11.9999C4.52543 11.9849 4.34745 11.9691 4.16947 11.9547C3.33909 11.8891 2.52162 11.7551 1.73141 11.4838C1.26813 11.3249 0.824798 11.1267 0.453005 10.7965C0.265936 10.6303 0.120209 10.4347 0.0477858 10.1925C-0.085919 9.74714 0.0659647 9.37945 0.375597 9.06484C0.685229 8.75022 1.07931 8.55289 1.4898 8.39367C2.03312 8.18285 2.59639 8.04592 3.1702 7.94975C3.196 7.94535 3.22093 7.93685 3.25553 7.92805C3.23441 7.89052 3.21917 7.86003 3.20099 7.83159C2.79782 7.20118 2.38732 6.57576 1.99178 5.93978C1.48013 5.11527 1.29159 4.21657 1.464 3.26012C1.71147 1.88583 2.48027 0.885098 3.75839 0.335032C5.07549 -0.230868 6.3536 -0.0739993 7.52528 0.761069C8.33748 1.33958 8.84268 2.13682 9.04471 3.11087C9.25289 4.11571 9.08634 5.0663 8.54126 5.93978C8.14542 6.57488 7.73551 7.2006 7.33205 7.83188C7.31388 7.8612 7.29863 7.89052 7.27722 7.92864C7.51179 7.97643 7.73639 8.0166 7.95894 8.06909C8.59433 8.21775 9.218 8.4013 9.77363 8.75902C10.0797 8.95576 10.3442 9.19239 10.4709 9.55069C10.5976 9.909 10.5295 10.2348 10.3149 10.5356C10.1003 10.8364 9.79386 11.0367 9.4684 11.2021C8.80105 11.5407 8.08414 11.724 7.34935 11.8313C6.87552 11.9005 6.39612 11.9319 5.91936 11.9808C5.88095 11.9846 5.84312 11.9934 5.80501 11.9999H4.7037ZM5.26344 9.76298C5.29746 9.71225 5.32209 9.67794 5.34408 9.64247C6.18501 8.32477 7.02242 7.00356 7.86805 5.68997C8.53804 4.64848 8.62453 3.56271 8.0733 2.45935C7.56604 1.44601 6.71895 0.855777 5.5892 0.741718C4.39583 0.620914 3.43057 1.07539 2.71191 2.0339C1.95396 3.04461 1.90646 4.50861 2.58436 5.56828C3.18115 6.5007 3.77735 7.43321 4.37296 8.36582C4.66822 8.82558 4.96085 9.28621 5.26462 9.76298H5.26344ZM5.26168 11.3144C5.7015 11.285 6.14132 11.2672 6.58114 11.2264C7.34349 11.1578 8.09294 11.0129 8.80955 10.7303C9.13648 10.6013 9.45462 10.4532 9.69622 10.1829C9.87684 9.97937 9.8745 9.8052 9.69622 9.60171C9.52851 9.40995 9.31505 9.28093 9.08898 9.17274C8.39964 8.84112 7.65987 8.69246 6.90836 8.59277C6.87904 8.58895 6.83271 8.62209 6.81278 8.65141C6.72481 8.77984 6.64301 8.91295 6.55944 9.04431C6.23691 9.5504 5.91437 10.0567 5.59184 10.5632C5.50006 10.7098 5.37867 10.7875 5.20187 10.7596C5.0752 10.7394 4.99985 10.6535 4.93505 10.5514C4.53784 9.9259 4.14044 9.30117 3.74284 8.67721C3.7015 8.61212 3.66632 8.57605 3.57718 8.5957C3.41415 8.63206 3.24614 8.64525 3.08136 8.67545C2.46268 8.7898 1.85338 8.93934 1.30156 9.25367C1.12697 9.35534 0.96681 9.48 0.825383 9.62429C0.654147 9.79728 0.662944 9.98288 0.825383 10.1658C0.899941 10.2507 0.984179 10.3264 1.07637 10.3916C1.44465 10.6499 1.86248 10.8004 2.29086 10.922C3.26139 11.1997 4.25626 11.2906 5.26286 11.3144H5.26168Z" />
                        <path d="M7.02215 3.89711C7.02267 4.24417 6.9203 4.58359 6.72799 4.8725C6.53567 5.1614 6.26203 5.38681 5.94165 5.52025C5.62127 5.6537 5.26853 5.68918 4.92799 5.62221C4.58745 5.55525 4.2744 5.38885 4.0284 5.14404C3.7824 4.89922 3.61449 4.58698 3.54588 4.24677C3.47727 3.90656 3.51104 3.55365 3.64293 3.23263C3.77482 2.9116 3.99891 2.63688 4.28687 2.44317C4.57484 2.24945 4.91377 2.14545 5.26083 2.14429C5.72649 2.14428 6.17321 2.32868 6.50327 2.65716C6.83334 2.98563 7.0199 3.43145 7.02215 3.89711ZM6.31844 3.89711C6.3186 3.75888 6.29152 3.62196 6.23876 3.49419C6.18601 3.36642 6.1086 3.2503 6.01096 3.15244C5.91333 3.05459 5.79737 2.97692 5.66972 2.92388C5.54207 2.87084 5.40522 2.84346 5.26698 2.8433C5.12875 2.84315 4.99184 2.87022 4.86407 2.92298C4.7363 2.97574 4.62017 3.05315 4.52232 3.15078C4.42446 3.24842 4.3468 3.36438 4.29375 3.49203C4.24071 3.61968 4.21333 3.75653 4.21318 3.89476C4.20907 4.47005 4.69522 4.9559 5.2705 4.95033C5.84578 4.94476 6.32108 4.47005 6.31932 3.89799L6.31844 3.89711Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_217">
                            <rect width="10.5339" height="12" fill="white" />
                        </clipPath>
                    </defs>
                </symbol>

                <symbol id="clock-icon" viewBox="0 0 12 12">
                    <g clip-path="url(#clip0_1_220)">
                        <path d="M6.37461 12H5.62461C5.54805 11.9903 5.47148 11.9797 5.39492 11.9713C4.20898 11.8409 3.14492 11.4087 2.22336 10.6522C1.07398 9.7075 0.356797 8.50156 0.0917969 7.03375C0.0524219 6.815 0.0292969 6.59469 -0.00195312 6.375V5.625C0.00651893 5.59538 0.0128885 5.5652 0.0171089 5.53469C0.0967964 4.51031 0.413046 3.56594 0.985859 2.71344C1.94836 1.28562 3.27555 0.400938 4.97555 0.0912504C5.18961 0.0521879 5.40648 0.02875 5.62211 0H6.37211C6.57617 0.026875 6.78148 0.0475002 6.9843 0.0821877C8.10742 0.273125 9.09992 0.743125 9.95305 1.49875C11.0018 2.42875 11.658 3.58437 11.9055 4.9675C11.9449 5.18625 11.968 5.405 11.9993 5.62594V6.37594C11.9924 6.40719 11.9843 6.43562 11.9793 6.46594C11.9312 6.77375 11.9027 7.08594 11.8327 7.38844C11.298 9.695 9.36023 11.5169 7.03211 11.9097C6.8143 11.9456 6.59336 11.9688 6.37461 12ZM11.2965 6C11.2965 3.08 8.91617 0.700625 5.99711 0.702812C3.07805 0.705 0.708672 3.07625 0.702734 5.99344C0.696796 8.91062 3.07773 11.2937 5.99617 11.2969C8.91461 11.3 11.2959 8.92 11.2965 6Z" />
                        <path d="M5.6481 4.93361C5.6481 4.59768 5.6481 4.26205 5.6481 3.92611C5.6481 3.69861 5.79372 3.54018 5.99841 3.53955C6.2031 3.53893 6.35029 3.69768 6.3506 3.92455C6.3506 4.53361 6.3506 5.1433 6.35404 5.75205C6.35669 5.81524 6.3816 5.87545 6.42435 5.92205C7.05352 6.55768 7.68518 7.19059 8.31935 7.8208C8.41591 7.91737 8.4781 8.02518 8.45497 8.16455C8.44556 8.22362 8.42115 8.27928 8.38409 8.32622C8.34702 8.37316 8.29854 8.40981 8.24327 8.43266C8.188 8.45552 8.12779 8.46381 8.0684 8.45676C8.00901 8.4497 7.95242 8.42753 7.90404 8.39236C7.86994 8.3663 7.83806 8.33745 7.80872 8.30611C7.14435 7.64153 6.47883 6.97705 5.81216 6.31268C5.75757 6.26293 5.71449 6.20187 5.68594 6.13375C5.65739 6.06563 5.64405 5.99211 5.64685 5.9183C5.6531 5.58986 5.6481 5.26174 5.6481 4.93361Z" />
                        <path d="M6.35124 2.13213C6.35124 2.24901 6.35405 2.36588 6.35124 2.48276C6.35091 2.5288 6.34151 2.57433 6.32359 2.61674C6.30567 2.65916 6.27956 2.69763 6.24677 2.72995C6.21398 2.76228 6.17515 2.78783 6.13248 2.80515C6.08982 2.82246 6.04416 2.83121 5.99811 2.83088C5.95207 2.83055 5.90654 2.82116 5.86413 2.80323C5.82171 2.78531 5.78324 2.75921 5.75092 2.72642C5.71859 2.69363 5.69304 2.65479 5.67572 2.61212C5.6584 2.56946 5.64966 2.5238 5.64999 2.47776C5.64686 2.24859 5.64686 2.0188 5.64999 1.78838C5.6528 1.58244 5.80624 1.42838 6.00311 1.42994C6.19999 1.43151 6.34686 1.58619 6.35155 1.79338C6.35311 1.90619 6.35155 2.01932 6.35124 2.13213Z" />
                        <path d="M2.12539 6.35135C2.01226 6.35135 1.89945 6.35385 1.78633 6.35135C1.58164 6.34604 1.42789 6.19073 1.4307 5.9951C1.43235 5.90241 1.47054 5.81411 1.53697 5.74944C1.6034 5.68477 1.69268 5.64895 1.78539 5.64979C2.01883 5.64635 2.25258 5.64573 2.48633 5.64979C2.57746 5.65251 2.66396 5.69063 2.72746 5.75606C2.79097 5.82149 2.82648 5.90908 2.82648 6.00026C2.82648 6.09144 2.79097 6.17903 2.72746 6.24446C2.66396 6.30989 2.57746 6.34801 2.48633 6.35073C2.36664 6.35448 2.2457 6.35135 2.12539 6.35135Z" />
                        <path d="M9.8794 5.64833C9.99221 5.64833 10.1053 5.64583 10.2181 5.64833C10.3111 5.64771 10.4006 5.68405 10.4668 5.74937C10.533 5.81468 10.5705 5.90362 10.5711 5.99661C10.5717 6.0896 10.5354 6.17903 10.4701 6.24523C10.4048 6.31142 10.3158 6.34896 10.2228 6.34958C9.98534 6.35416 9.74784 6.35416 9.51034 6.34958C9.41912 6.34611 9.33286 6.30721 9.26988 6.24114C9.20689 6.17507 9.17216 6.08704 9.17305 5.99577C9.17395 5.90449 9.2104 5.81716 9.27467 5.75234C9.33893 5.68752 9.42595 5.65032 9.51721 5.64864C9.63784 5.64583 9.75877 5.64833 9.8794 5.64833Z" />
                        <path d="M5.64843 9.86909C5.64843 9.75221 5.64625 9.63534 5.64843 9.51846C5.64719 9.47152 5.65537 9.4248 5.67251 9.38107C5.68965 9.33735 5.71539 9.29751 5.7482 9.26392C5.78102 9.23032 5.82025 9.20366 5.86356 9.1855C5.90687 9.16734 5.95338 9.15806 6.00034 9.1582C6.0473 9.15835 6.09376 9.16792 6.13695 9.18635C6.18015 9.20478 6.21921 9.23169 6.25181 9.26549C6.28442 9.29928 6.30991 9.33928 6.32677 9.38311C6.34364 9.42694 6.35154 9.47371 6.35 9.52065C6.35333 9.74981 6.35333 9.97961 6.35 10.21C6.34718 10.4169 6.19375 10.5703 5.99843 10.57C5.80312 10.5697 5.6525 10.4138 5.64843 10.2078C5.64687 10.0938 5.64843 9.9819 5.64843 9.86909Z" />
                        <path d="M9.33086 8.9826C9.33153 9.0285 9.323 9.07408 9.30577 9.11663C9.28854 9.15918 9.26296 9.19786 9.23054 9.23036C9.19812 9.26287 9.15952 9.28855 9.11701 9.3059C9.0745 9.32324 9.02895 9.33189 8.98305 9.33135C8.93702 9.33176 8.89137 9.32307 8.84872 9.30577C8.80607 9.28847 8.76727 9.26291 8.73454 9.23055C8.7018 9.1982 8.67579 9.15969 8.658 9.11724C8.6402 9.07479 8.63098 9.02925 8.63086 8.98322C8.63223 8.89043 8.66965 8.80182 8.73521 8.73614C8.80077 8.67046 8.88932 8.63288 8.98211 8.63135C9.02812 8.63135 9.07367 8.64045 9.11615 8.65813C9.15863 8.67581 9.19719 8.70173 9.2296 8.73438C9.26202 8.76703 9.28766 8.80577 9.30503 8.84837C9.32241 8.89097 9.33119 8.93659 9.33086 8.9826Z" />
                        <path d="M2.66801 3.01447C2.66771 2.96853 2.67662 2.923 2.69421 2.88057C2.7118 2.83813 2.73772 2.79965 2.77044 2.7674C2.80315 2.73515 2.842 2.70979 2.88469 2.69281C2.92737 2.67582 2.97302 2.66757 3.01895 2.66853C3.06498 2.66841 3.11058 2.67741 3.15311 2.69503C3.19564 2.71264 3.23426 2.73852 3.26672 2.77115C3.29918 2.80379 3.32485 2.84254 3.34224 2.88517C3.35962 2.92779 3.36839 2.97344 3.36801 3.01947C3.36599 3.1123 3.32789 3.2007 3.26179 3.26592C3.1957 3.33114 3.1068 3.36805 3.01395 3.36884C2.96791 3.36848 2.9224 3.359 2.88004 3.34096C2.83769 3.32292 2.79932 3.29667 2.76716 3.26372C2.735 3.23078 2.70968 3.19179 2.69266 3.14901C2.67565 3.10623 2.66727 3.0605 2.66801 3.01447Z" />
                        <path d="M8.97805 2.66806C9.02393 2.66702 9.06956 2.67513 9.11228 2.69192C9.15499 2.7087 9.19394 2.73383 9.22684 2.76583C9.25974 2.79783 9.28594 2.83606 9.30391 2.87829C9.32187 2.92052 9.33125 2.96591 9.33149 3.01181C9.33259 3.10456 9.29714 3.19402 9.23282 3.26086C9.1685 3.32769 9.08046 3.36654 8.98774 3.36899C8.89494 3.36786 8.80614 3.33108 8.7397 3.26628C8.67327 3.20147 8.6343 3.11361 8.63086 3.02087C8.63101 2.92831 8.66746 2.83951 8.73238 2.77354C8.7973 2.70757 8.88551 2.66969 8.97805 2.66806Z" />
                        <path d="M2.66813 8.98818C2.6667 8.89528 2.70202 8.80556 2.76639 8.73855C2.83076 8.67155 2.91899 8.63267 3.01188 8.63037C3.10473 8.63111 3.19373 8.6676 3.26037 8.73226C3.327 8.79692 3.36616 8.88477 3.3697 8.97756C3.37028 9.07043 3.33416 9.15977 3.2692 9.22614C3.20423 9.29251 3.11568 9.33053 3.02282 9.33193C2.97686 9.33301 2.93116 9.32494 2.88835 9.30818C2.84555 9.29143 2.8065 9.26632 2.77349 9.23433C2.74049 9.20234 2.71417 9.1641 2.69608 9.12184C2.67799 9.07958 2.66849 9.03415 2.66813 8.98818Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_220">
                            <rect width="12" height="12" fill="white" />
                        </clipPath>
                    </defs>
                </symbol>

                <symbol id="quote-icon" viewBox="0 0 78 60">
                    <g clip-path="url(#clip0_7_1293)">
                        <path d="M31.1211 0C31.2101 0.100813 31.3111 0.190315 31.4219 0.266485C33.5537 1.3286 34.5854 3.09879 34.1971 5.03649C33.7669 7.18737 32.0957 8.50835 29.6555 8.56926C24.9827 8.65467 20.4654 10.2621 16.789 13.1477C13.1127 16.0333 10.478 20.0394 9.28495 24.5581C9.2012 24.8741 9.17073 25.2015 9.08317 25.7001H29.3776C32.5411 25.7001 34.2542 27.3904 34.258 30.5196C34.258 38.7501 34.258 46.9818 34.258 55.2148C34.258 58.2603 32.5144 59.9543 29.4461 59.9581C21.5507 59.9581 13.6514 59.8896 5.75217 60.0038C3.08736 60.0419 1.14206 59.2881 0 56.8213V27.1277C0.0913647 26.7661 0.209386 26.4044 0.270296 26.0352C2.08236 14.7135 8.24185 6.71151 18.7869 2.25367C21.4136 1.14206 24.3373 0.730922 27.1239 0.00381058L31.1211 0Z" />
                        <path d="M73.9483 2.64032e-05C74.0373 0.100839 74.1383 0.190342 74.2491 0.266512C76.3809 1.32863 77.4126 3.09882 77.0243 5.0327C76.5941 7.18739 74.9229 8.50076 72.4827 8.56928C67.1455 8.63849 62.0315 10.7216 58.1651 14.4014C54.9175 17.4014 52.7095 21.3574 51.8609 25.6964H72.0373C75.4026 25.6964 77.07 27.3371 77.0738 30.6453C77.0738 38.7666 77.0738 46.9006 77.0738 55.0473C77.0738 58.2793 75.3873 59.9505 72.1249 59.9543H47.7228C44.4832 59.9543 42.8082 58.2679 42.8044 55.0245C42.8044 46.7483 42.8044 38.4722 42.8044 30.1923C42.8463 14.7783 53.8176 2.30699 69.1174 0.239861C69.3925 0.180241 69.6624 0.0987633 69.9245 -0.00378418L73.9483 2.64032e-05Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_7_1293">
                            <rect width="77.1042" height="60" fill="white" />
                        </clipPath>
                    </defs>
                </symbol>

                <symbol id="mail-icon" viewBox="0 0 22 18" fill="none">
                    <path d="M1 4L9.16492 9.71544C9.82609 10.1783 10.1567 10.4097 10.5163 10.4993C10.8339 10.5785 11.1661 10.5785 11.4837 10.4993C11.8433 10.4097 12.1739 10.1783 12.8351 9.71544L21 4M5.8 17H16.2C17.8802 17 18.7202 17 19.362 16.673C19.9265 16.3854 20.3854 15.9265 20.673 15.362C21 14.7202 21 13.8802 21 12.2V5.8C21 4.11984 21 3.27976 20.673 2.63803C20.3854 2.07354 19.9265 1.6146 19.362 1.32698C18.7202 1 17.8802 1 16.2 1H5.8C4.11984 1 3.27976 1 2.63803 1.32698C2.07354 1.6146 1.6146 2.07354 1.32698 2.63803C1 3.27976 1 4.11984 1 5.8V12.2C1 13.8802 1 14.7202 1.32698 15.362C1.6146 15.9265 2.07354 16.3854 2.63803 16.673C3.27976 17 4.11984 17 5.8 17Z"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </symbol>

                <symbol id="location-icon" viewBox="0 0 22 22" fill="none">
                    <path d="M19 11C19 15.4183 15.4183 19 11 19M19 11C19 6.58172 15.4183 3 11 3M19 11H21M11 19C6.58172 19 3 15.4183 3 11M11 19V21M3 11C3 6.58172 6.58172 3 11 3M3 11H1M11 3V1M14 11C14 12.6569 12.6569 14 11 14C9.34315 14 8 12.6569 8 11C8 9.34315 9.34315 8 11 8C12.6569 8 14 9.34315 14 11Z"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </symbol>

                <symbol id="phone-icon" viewBox="0 0 24 24" fill="none">
                    <path d="M14.0497 6C15.0264 6.19057 15.924 6.66826 16.6277 7.37194C17.3314 8.07561 17.8091 8.97326 17.9997 9.95M14.0497 2C16.0789 2.22544 17.9713 3.13417 19.4159 4.57701C20.8606 6.01984 21.7717 7.91101 21.9997 9.94M10.2266 13.8631C9.02506 12.6615 8.07627 11.3028 7.38028 9.85323C7.32041 9.72854 7.29048 9.66619 7.26748 9.5873C7.18576 9.30695 7.24446 8.96269 7.41447 8.72526C7.46231 8.65845 7.51947 8.60129 7.63378 8.48698C7.98338 8.13737 8.15819 7.96257 8.27247 7.78679C8.70347 7.1239 8.70347 6.26932 8.27247 5.60643C8.15819 5.43065 7.98338 5.25585 7.63378 4.90624L7.43891 4.71137C6.90747 4.17993 6.64174 3.91421 6.35636 3.76987C5.7888 3.4828 5.11854 3.4828 4.55098 3.76987C4.2656 3.91421 3.99987 4.17993 3.46843 4.71137L3.3108 4.86901C2.78117 5.39863 2.51636 5.66344 2.31411 6.02348C2.08969 6.42298 1.92833 7.04347 1.9297 7.5017C1.93092 7.91464 2.01103 8.19687 2.17124 8.76131C3.03221 11.7947 4.65668 14.6571 7.04466 17.045C9.43264 19.433 12.295 21.0575 15.3284 21.9185C15.8928 22.0787 16.1751 22.1588 16.588 22.16C17.0462 22.1614 17.6667 22 18.0662 21.7756C18.4263 21.5733 18.6911 21.3085 19.2207 20.7789L19.3783 20.6213C19.9098 20.0898 20.1755 19.8241 20.3198 19.5387C20.6069 18.9712 20.6069 18.3009 20.3198 17.7333C20.1755 17.448 19.9098 17.1822 19.3783 16.6508L19.1835 16.4559C18.8339 16.1063 18.6591 15.9315 18.4833 15.8172C17.8204 15.3862 16.9658 15.3862 16.3029 15.8172C16.1271 15.9315 15.9523 16.1063 15.6027 16.4559C15.4884 16.5702 15.4313 16.6274 15.3644 16.6752C15.127 16.8453 14.7828 16.904 14.5024 16.8222C14.4235 16.7992 14.3612 16.7693 14.2365 16.7094C12.7869 16.0134 11.4282 15.0646 10.2266 13.8631Z"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </symbol>

                <symbol id="facebook-icon" viewBox="0 0 9 17">
                    <path d="M0.387939 8.43562V5.69697H2.18664C2.18664 5.50917 2.17882 5.34583 2.18664 5.18445C2.23555 4.31688 2.22186 3.43954 2.35586 2.58566C2.52507 1.51954 3.21071 0.820209 4.24357 0.510154C5.63833 0.0925091 7.07319 0.271499 8.51587 0.237266V2.97592H7.62581C7.44291 2.97592 7.26098 2.97592 7.07906 2.97592C6.01391 2.9945 5.81634 3.19599 5.80754 4.26994C5.80754 4.72377 5.80754 5.1776 5.80754 5.6823H8.54032C8.43273 6.62322 8.33199 7.50937 8.22929 8.42095H5.81341V16.5919H2.18958V8.43562H0.387939Z" />
                </symbol>

                <symbol id="facebook-icon-2" viewBox="0 0 32 32">
                    <g clip-path="url(#clip0_261_5549)">
                        <path d="M15 0H17C17.535 0.0691667 18.0725 0.119166 18.6033 0.209999C21.6417 0.726666 24.3275 1.99583 26.6217 4.05333C29.3792 6.52583 31.105 9.58917 31.7542 13.2433C31.8575 13.8267 31.9208 14.4142 32.0042 15V17C31.9813 17.079 31.9641 17.1594 31.9525 17.2408C31.7633 19.7092 31.0558 22.0208 29.7667 24.1317C27.2275 28.2925 23.5592 30.8508 18.7592 31.755C18.1758 31.8642 17.5925 31.9217 17.0042 32H15C14.61 31.9517 14.2183 31.91 13.8333 31.8542C10.6492 31.3983 7.83333 30.1225 5.43083 27.9867C2.64833 25.5183 0.916667 22.4492 0.25 18.7875C0.1425 18.1958 0.0833333 17.5958 0 17V15C0.0483333 14.6092 0.0883325 14.2175 0.144999 13.8275C0.644999 10.34 2.11917 7.3225 4.58833 4.80833C6.98333 2.36917 9.87167 0.839168 13.2442 0.245834C13.8258 0.143334 14.4167 0.0833333 15 0ZM20.25 7.31833C20.2187 7.30261 20.1853 7.29139 20.1508 7.285C18.9958 7.29417 17.835 7.23417 16.6875 7.33333C15.2708 7.45583 14.2517 8.22417 13.7992 9.59917C13.6233 10.1333 13.5667 10.7167 13.5275 11.2825C13.4825 11.9342 13.5167 12.5908 13.5167 13.2825H11.7067V16.575H13.5233V25.825H17.385V16.5467H19.9808C20.0925 15.45 20.2017 14.38 20.3142 13.2775H17.3758C17.3758 12.6767 17.3758 12.1058 17.3758 11.535C17.3758 10.7017 17.6142 10.465 18.4592 10.465H20.25V7.31833Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_261_5549">
                            <rect width="32" height="32" fill="white" />
                        </clipPath>
                    </defs>
                </symbol>

                <symbol id="twitter-icon" viewBox="0 0 19 15">
                    <path d="M9.7541 4.63616C9.46068 2.49414 10.5121 0.82845 12.5016 0.299303C13.7604 -0.0352045 14.8959 0.299304 15.8809 1.12286C16.0765 1.28815 16.2389 1.33902 16.4677 1.2549C17.1123 1.01918 17.7588 0.789328 18.4239 0.548717C18.1725 1.31358 17.6561 1.90337 16.9783 2.37775L17.0331 2.46969L18.8543 1.98064L18.9345 2.04715C18.4777 2.51957 18.0454 3.02524 17.5524 3.45462C17.4279 3.55055 17.3281 3.67496 17.2616 3.81741C17.195 3.95986 17.1636 4.11619 17.17 4.27329C17.1328 9.29285 13.6753 13.5065 8.70265 14.4973C6.07746 15.0205 3.55399 14.6107 1.20852 13.2727C1.14104 13.2336 1.07452 13.1925 1.01291 13.1475C0.996278 13.1358 0.98943 13.1084 0.957153 13.0497C2.91333 13.2248 4.66314 12.726 6.30438 11.5239C4.625 11.3439 3.48845 10.5517 2.85465 8.94856H4.3746C2.41842 8.05067 1.52249 6.89457 1.58215 5.29833L3.03658 5.69641L3.09526 5.59077C2.36854 5.02935 1.86678 4.31926 1.6653 3.43017C1.46381 2.54109 1.6027 1.67743 2.08098 0.818669C4.11933 3.14457 6.64377 4.43467 9.7541 4.63616Z" />
                </symbol>

                <symbol id="twitter-icon-2" viewBox="0 0 32 32">
                    <g clip-path="url(#clip0_261_5551)">
                        <path d="M14.9993 0H16.9993C17.0782 0.0225721 17.1586 0.0396962 17.2399 0.0512505C19.7312 0.23875 22.0637 0.952501 24.1887 2.26063C28.3187 4.80375 30.8624 8.46125 31.7512 13.2431C31.8599 13.8237 31.9162 14.4137 31.9968 15V17C31.9712 17.205 31.9424 17.41 31.9205 17.6156C31.5774 20.78 30.4312 23.6156 28.4112 26.0806C25.8993 29.1431 22.6862 31.0419 18.783 31.7525C18.1924 31.86 17.5924 31.9187 16.9968 32.0025H14.9993C14.6087 31.9544 14.2174 31.9125 13.828 31.8575C10.8743 31.4375 8.22492 30.3125 5.92055 28.4156C2.8618 25.9006 0.956797 22.6919 0.248047 18.7906C0.140547 18.1987 0.0811719 17.5987 -0.00195312 17.0025V15C0.0442969 14.6194 0.0836739 14.2375 0.136799 13.8581C0.586799 10.6706 1.85117 7.8525 3.98617 5.44312C6.47367 2.63562 9.56867 0.886874 13.2724 0.241249C13.8455 0.141874 14.4243 0.079375 14.9993 0ZM9.2493 17.6712C9.41494 18.2061 9.70445 18.6943 10.0943 19.0962C10.7718 19.7994 11.6137 20.1587 12.6662 20.2381C11.0412 21.4475 9.29617 21.93 7.36305 21.7912C7.44856 21.8692 7.54271 21.9372 7.64367 21.9937C9.2293 22.9019 10.9324 23.3819 12.763 23.3906C15.8255 23.4056 18.4618 22.3787 20.5293 20.0844C22.3805 18.03 23.3074 15.5944 23.3055 12.8212C23.3055 12.5637 23.3968 12.4219 23.578 12.2512C24.0537 11.8037 24.493 11.3169 24.943 10.8425C24.9865 10.7859 25.0232 10.7244 25.0524 10.6594L23.1868 11.1675L23.1412 11.0844C23.8287 10.6075 24.3355 9.9975 24.593 9.24C23.9093 9.48 23.2337 9.71187 22.5624 9.955C22.3749 10.0219 22.2599 9.96812 22.1249 9.84C20.088 7.93687 16.7249 8.92812 16.0818 11.6381C15.953 12.1806 15.988 12.7631 15.9449 13.3556C12.9612 13.1462 10.4674 11.8587 8.48305 9.53812C8.09657 10.1904 7.92903 10.9493 8.00492 11.7037C8.10555 12.8212 8.6493 13.7006 9.53742 14.3844C9.52117 14.4125 9.5043 14.4406 9.48742 14.4687L7.98742 14.0475C7.79617 15.4587 8.96617 16.9669 10.7649 17.6725L9.2493 17.6712Z"
                              fill="#00A1F6" />
                        <path d="M9.2507 17.6712H10.7651C8.96633 16.9668 7.79633 15.4587 7.98758 14.0462L9.48758 14.4674C9.50445 14.4393 9.52133 14.4112 9.53758 14.383C8.64945 13.6993 8.1057 12.8205 8.00508 11.7024C7.92918 10.948 8.09672 10.1891 8.4832 9.53678C10.4676 11.8574 12.9613 13.1449 15.9451 13.3543C15.9882 12.7612 15.9532 12.1793 16.082 11.6368C16.7251 8.92678 20.0882 7.93553 22.1251 9.83865C22.2626 9.96678 22.3807 10.0205 22.5626 9.95365C23.2338 9.71053 23.9095 9.47865 24.5932 9.23865C24.3357 9.99615 23.8301 10.6062 23.1413 11.083L23.187 11.1662L25.0507 10.658C25.0215 10.7231 24.9848 10.7846 24.9413 10.8412C24.4913 11.3155 24.0519 11.8024 23.5763 12.2499C23.3951 12.4205 23.3038 12.5624 23.3038 12.8199C23.3038 15.593 22.3788 18.0287 20.5276 20.083C18.4601 22.3774 15.8257 23.4043 12.7613 23.3893C10.9307 23.3805 9.22758 22.9005 7.64195 21.9924C7.54099 21.9358 7.44684 21.8679 7.36133 21.7899C9.29445 21.9287 11.0363 21.4462 12.6645 20.2368C11.612 20.1593 10.7701 19.7993 10.0926 19.0949C9.70403 18.693 9.41561 18.2053 9.2507 17.6712Z"
                              fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_261_5551">
                            <rect width="32" height="32" fill="white" />
                        </clipPath>
                    </defs>
                </symbol>

                <symbol id="linkedin-icon" viewBox="0 0 17 15">
                    <path d="M16.1416 14.6754H12.5374V14.2685C12.5374 12.6674 12.5374 11.0672 12.5374 9.46608C12.5394 9.14098 12.5159 8.81623 12.4669 8.49483C12.3691 7.87864 12.0542 7.53435 11.57 7.4473C11.0203 7.34949 10.4139 7.56956 10.1753 8.08208C9.97009 8.51101 9.85239 8.97651 9.82903 9.45141C9.78795 11.0907 9.81338 12.7309 9.8124 14.3712C9.8124 14.4602 9.8036 14.5492 9.79675 14.6646H6.21988V4.72234H9.78991V6.00461C10.2173 5.68184 10.6047 5.25344 11.0878 5.05097C12.4239 4.48955 14.0945 4.50324 15.098 5.65641C15.7271 6.383 16.0849 7.30521 16.1103 8.26596C16.1827 10.3591 16.1661 12.4541 16.1847 14.5492C16.1761 14.593 16.1617 14.6355 16.1416 14.6754Z" />
                    <path d="M0.748047 14.6742V4.72021H4.32982V14.6742H0.748047Z" />
                    <path d="M4.35227 1.95705C4.35516 2.31491 4.25187 2.66559 4.05546 2.96475C3.85905 3.26391 3.57834 3.49811 3.24882 3.63773C2.91931 3.77736 2.55579 3.81613 2.20424 3.74916C1.85269 3.68219 1.52889 3.51247 1.27379 3.26148C1.0187 3.01048 0.843754 2.68948 0.77109 2.33906C0.698426 1.98864 0.731306 1.62454 0.865568 1.29281C0.99983 0.961075 1.22945 0.676603 1.52538 0.475366C1.82131 0.274128 2.17028 0.165163 2.52814 0.16225C2.76604 0.159278 3.00218 0.203458 3.22292 0.292239C3.44366 0.38102 3.64463 0.512643 3.81423 0.679512C3.98382 0.84638 4.11869 1.04519 4.21104 1.26446C4.30339 1.48373 4.35139 1.71912 4.35227 1.95705Z" />
                </symbol>

                <symbol id="linkedin-icon-2" viewBox="0 0 32 32">
                    <g clip-path="url(#clip0_261_5554)">
                        <path d="M14.9993 0H16.9993C17.0782 0.0225721 17.1586 0.0396962 17.2399 0.0512505C19.7312 0.23875 22.0637 0.952501 24.1887 2.26063C28.3187 4.80375 30.8624 8.46062 31.7512 13.2431C31.8593 13.8237 31.9162 14.4137 31.9968 15V17C31.9712 17.205 31.9424 17.41 31.9205 17.6156C31.5774 20.78 30.4312 23.6156 28.4112 26.0806C25.8993 29.1431 22.6862 31.0419 18.783 31.7525C18.1924 31.86 17.5924 31.9187 16.9968 32.0025H14.9993C14.6087 31.9544 14.2174 31.9125 13.828 31.8575C10.8743 31.4375 8.22492 30.3125 5.92055 28.4156C2.8618 25.9006 0.956797 22.6919 0.248047 18.7906C0.140547 18.1987 0.0811719 17.5987 -0.00195312 17.0025V15C0.0236719 14.795 0.0511732 14.5906 0.0736732 14.385C0.443673 10.9956 1.72555 7.99875 3.98617 5.44375C6.47242 2.63125 9.56867 0.886874 13.2724 0.241249C13.8455 0.141874 14.4243 0.079375 14.9993 0ZM17.4005 24.1762C17.4005 23.1694 17.4005 22.1919 17.4005 21.2144C17.4055 19.8919 17.4005 18.5694 17.4293 17.2481C17.4455 16.5306 17.8262 15.9819 18.408 15.5925C19.5368 14.8375 20.9612 15.3425 21.3274 16.6444C21.442 17.0868 21.4979 17.5424 21.4937 17.9994C21.5112 19.9462 21.5012 21.8937 21.5012 23.8412V24.1669H25.3837C25.3887 24.0644 25.3962 23.9825 25.3962 23.9C25.3962 21.765 25.4006 19.6306 25.3924 17.4956C25.3888 17.0692 25.361 16.6433 25.3093 16.22C25.0368 13.9237 23.663 12.475 21.4518 12.22C19.8599 12.0381 18.5143 12.5212 17.5624 13.8875C17.5115 13.9486 17.4573 14.0068 17.3999 14.0619C17.3999 13.5794 17.388 13.1656 17.4043 12.7531C17.4137 12.5219 17.3418 12.4481 17.1068 12.4506C15.9924 12.4625 14.878 12.4556 13.7643 12.4569C13.6844 12.4606 13.6047 12.4686 13.5255 12.4806V24.1762H17.4005ZM11.338 24.1762C11.3449 24.0969 11.353 24.0462 11.353 23.9962C11.353 20.2362 11.3549 16.4765 11.3587 12.7169C11.3587 12.4744 11.2499 12.4519 11.0562 12.4531C9.9518 12.4587 8.84805 12.4531 7.74367 12.4569C7.65305 12.4569 7.56242 12.47 7.47117 12.4775V24.1787L11.338 24.1762ZM7.22867 8.84062C7.22867 10.0281 8.13867 10.8731 9.40617 10.8669C10.683 10.86 11.6105 10.0125 11.6093 8.8525C11.6093 7.665 10.6993 6.815 9.43617 6.81312C8.1368 6.8125 7.22805 7.64562 7.22867 8.84062Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_261_5554">
                            <rect width="32" height="32" fill="white" />
                        </clipPath>
                    </defs>
                </symbol>

                <symbol id="pinterest-icon" viewBox="0 0 32 32">
                    <g clip-path="url(#clip0_261_5548)">
                        <path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                              fill="white" />
                        <path d="M16 0C7.16379 0 0 7.16379 0 16C0 22.7819 4.21399 28.5761 10.1663 30.907C10.0214 29.6428 9.90288 27.6938 10.2189 26.3111C10.5086 25.0601 12.0889 18.3572 12.0889 18.3572C12.0889 18.3572 11.6148 17.3959 11.6148 15.9868C11.6148 13.7613 12.9053 12.1021 14.5119 12.1021C15.8815 12.1021 16.5399 13.1292 16.5399 14.3539C16.5399 15.7235 15.6708 17.7778 15.2099 19.6872C14.828 21.2807 16.0132 22.5844 17.5802 22.5844C20.4247 22.5844 22.6107 19.5819 22.6107 15.2626C22.6107 11.4305 19.8584 8.7572 15.921 8.7572C11.3646 8.7572 8.69136 12.1679 8.69136 15.6971C8.69136 17.0667 9.21811 18.5416 9.87654 19.3449C10.0082 19.5029 10.0214 19.6477 9.98189 19.8058C9.86337 20.3062 9.58683 21.3992 9.53416 21.623C9.46831 21.9128 9.29712 21.9786 8.99424 21.8337C6.99259 20.8988 5.74156 17.9885 5.74156 15.6313C5.74156 10.5877 9.40247 5.95226 16.316 5.95226C21.8601 5.95226 26.1794 9.90288 26.1794 15.1967C26.1794 20.7144 22.7029 25.1523 17.8831 25.1523C16.2634 25.1523 14.7358 24.3095 14.2222 23.3086C14.2222 23.3086 13.4189 26.3638 13.2214 27.1144C12.8658 28.5103 11.8914 30.2486 11.2329 31.3152C12.7342 31.7761 14.3144 32.0263 15.9737 32.0263C24.8099 32.0263 31.9737 24.8626 31.9737 16.0263C32 7.16378 24.8362 0 16 0Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_261_5548">
                            <rect width="32" height="32" fill="white" />
                        </clipPath>
                    </defs>
                </symbol>
            </svg>
            <!-- SVG ======================-->
            <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown menu if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {

                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
            </script>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
    </body>
</html>